.AppLayout {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-bottom: 90px;
    font-size: 14px;
}

body {
    overflow-y: scroll;
    background: url('~/../../src/images/body_pattern.png');
}