.Article {
    cursor: pointer;
}

.Article:hover .Article-Card {
    background: #FAFAFA;
    box-shadow: 2px 2px 30px #888888;
}

.Article-Text {
    font-family: sans-serif;
    text-align: justify;
    margin-bottom: 0;
}

.Article:hover .Article-Body {
    height: 120px;
}

.Article-Body {
    height: 80px;
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding: 2.25rem!important;
}

.Article-Body .Article-Title {
    font-size: 0.8rem;
    color: #333;
    background: #ffffff7a;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.Article-Body .Article-Price {
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: #333;
    font-family: monospace;
}

.Article-Footer {
    position: relative;
    background: #FDFDFD!important;
}

.ArticleImage {
    height: 200px;
}

.ArticleImage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (max-width: 1024px) {
    .Article-Body {
        padding: 0.25rem!important;
    }
}

@media only screen and (max-width: 768px) {
    .Article-Body {
        padding: 0.25rem!important;
    }
    .Article-Title {
        border: 1px solid black;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0!important;
    }
}