.CheckOut {
    background: #ffffffc7;
    padding: 20px;
    border-radius: 5px;
    max-width: 1024px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .CheckOut {
        padding: 2px;
    }
    .w-xs-100 {
        margin: auto!important;
        margin-top: 2rem!important;
        width: 90%;
    }
}