.LineCheckOut {
    background: #fff;
    margin: 10px auto;
    line-height: 50px;
    position: relative;
}

.LineCheckOutContainer {
    max-width: 900px;
    margin: auto;
}

.LineCheckOutContainerLink {
    cursor: pointer;
    float: right;
}

.LineCheckOutContainerLink:hover {
    text-decoration: underline!important;
}

.LineCheckOut ul {
    padding-left: 0;
    list-style: none;
}

.LineCheckOutOption {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
}

.LineCheckOutOption:hover {
    background: #efefef;
}

.LineCheckOutOption div {
    padding-right: 1.5rem;
}

.LineCheckOutOption div {
    padding-left: 1.5rem;
}

.LineCheckOutOptionActive {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #444;
    z-index: 10;
}

.LineCheckOutOptionInactive {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ddd;
}

@media only screen and (max-width: 768px) {
    .LineCheckOutOption div {
        padding-right: 0.5rem;
    }
    .LineCheckOutOption div {
        padding-left: 0.5rem;
    }
}