.Cart {
    margin-top: 20px;
}

.Cart .list-group-item {
    padding: 5px;
}

.CartCheck {
    margin-right: 10px;
}

.CartRemove {
    margin: 4px 5px 0 5px;
    float: right;
    color: grey;
    transition: color .3s;
}

.CartRemove:hover {
    color: red;
}