.btn {
    border-radius: 0;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.non-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}